.video_height
{
	height:60%;
}
.searchbox 
{
	margin-top: 150px;
	background: rgba(0,0,0,0.45) !important;
}
.Images_main
{
	height: 130px !important; 
	width:150px !important;
}

.footer_margin
{
	margin-top: 2%;
}

.productname_main
{
	font-weight: 600 !important;

}

